.yandexControls {
    display: flex;
    flex-direction: column;
    position:absolute;
    top:0;
    left: 0;
    margin: 50px;
    width: 650px;
    max-height: 80vh;
    background-color: white;
}

